html, body { 
    background: url(https://image.freepik.com/free-photo/blue-day-clear-sky-with-light-clouds-smooth-blue-white-gradient-sky-wonderful-weather-background-morning-heaven-morning-with-copyspace-slightly-cloudy-backdrop-atmosphere-clear-day_102332-1718.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .clear-button {
      background-color: #dd3444 !important;
  }