/* Button Fix for Safari */
.btn {
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

html, body { 
    background: url(https://image.freepik.com/free-photo/blue-day-clear-sky-with-light-clouds-smooth-blue-white-gradient-sky-wonderful-weather-background-morning-heaven-morning-with-copyspace-slightly-cloudy-backdrop-atmosphere-clear-day_102332-1718.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .clear-button {
      background-color: #a72733 !important;
  }

  .navbar-text {
      padding-left: 10px;
  }

  .blue {
      background: url(./assets/images/background.png) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  /* for smaller devices */
  @media only screen and (max-width: 1155px) {
      
    #dayOne {
        margin-inline-start: 0 !important;
    }
    #dayTwo {
        margin-inline-start: 0 !important;
    }
    #dayThree {
        margin-inline-start: 0 !important;
    }
    #dayFour {
        margin-inline-start: 0 !important;
    }
    #dayFive {
        margin-inline-start: 0 !important;
    }

  }